.tableContainer {
    width: 80vw;
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}

.speedTestTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.rpcTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web3ClientVersion {
    font-size: 0.8em;
    font-weight: normal;
    color: gray;
}

.fast {
    background-color: #c8e6c9;
}

.moderate {
    background-color: #fff59d;
}

.slow {
    background-color: #ffcc80;
}

.error {
    background-color: #ffcccc;
}

.pending {
    background-color: #e0e0e0;
}
